<div *ngIf="display;else none" id="overlay" style="display: block;" >
    
    <div class="spinner">
                    
        <span style="width: 90px;height: 90px;" class="spinner-border text-warning"></span>

    </div>
</div>

<ng-template #none>

    <!-- <div >
                    
        <h1 id="header" style=" padding-top: 0px; font-size: 30px;"><b>SWIFT BILLS UTILITY PAYMENTS</b></h1>

    </div>
    <br>
    <br>
  -->
    

</ng-template>

  <!-- <div style="padding:20px">
    <h2>Overlay with Text</h2>
  </div> -->