<div style="padding-top: 60px;" class="nk-content ">
    <div id='parent_div' class="container-fluid">
        <div class="row">
            <div class="col-sm-5 mx-left">
                <div>
                    <!-- <alert align="left"></alert> -->
                    <br>
                    <br>
                    <form [formGroup]="form"  class="bin" #electricityForm="ngForm" novalidate >
                        <h2 style="color:white;" class="text-left">Swift bills Electricty Purchase</h2>
                        <hr style="background-color:#ffffff;">
                        <div class="alert-danger error" *ngIf="electricityForm.submitted">
                            <div class="error" *ngIf="isRecipientNotValidform==true">Electricity details are not correct</div>  
                        </div>
    
                        <div class="email">
                            <b><label style="color:white;" class="" for="disco">Distribution company:</label></b>
                            <!-- <input type="text" formControlName="disco" class="form-control"  placeholder="Select Distribution company"/> -->
                            <select class="form-control" formControlName="disco" #disco_select #discoSelected_select (change)='discoSelected(discoSelected_select.value)'>
                                <option value="" disabled selected hidden>Select Distribution company...</option>
                                
                                <option *ngFor="let disco of Discos;" [text]="disco.disco_name"  [value]=[disco.disco_name,disco.disco_code,disco.public_id,disco.api_provider,disco.api_code]>{{disco.disco_name}}</option>
                            </select>
                            <div class="alert-danger error" *ngIf="f.disco.errors &&electricityForm.submitted">
                                <div class="error" *ngIf="f.disco.errors.required">istribution company is required</div>  
                            </div>
                            
    
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="meter_type">Meter type:</label></b>
                            <!-- <input type="text" formControlName="meter_type" class="form-control"  placeholder="Select meter type"/> -->
                            <select class="form-control" formControlName="meter_type" #meter_type_select (change)='onOptionsSelected(meter_type_select.value)'>
                                <option value="" disabled selected hidden>Select meter type...</option>
                                
                                <option [value]="prepaid">Prepaid</option>
                                <option [value]="postpaid">Postpaid</option>
                            </select>
                            <div class="alert-danger error" *ngIf="f.meter_type.errors && electricityForm.submitted">
                                <div class="error" *ngIf="f.meter_type.errors.required">Meter type is required</div>  
                            </div>
    
                        </div>
                        
                        <div class="pass">
                            <b><label style="color:white;" for="meter_no">Meter number:</label></b>
                            <input type="text" formControlName="meter_no" class="form-control"  placeholder="Enter your meter number"/>
                            <div class="alert-danger error" *ngIf="f.meter_no.errors &&electricityForm.submitted">
                                <div class="error" *ngIf="f.meter_no.errors.required">Meter number is required</div>  
                            </div>
                            
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="amount">Amount:</label></b>
                            <input type="text" formControlName="amount" class="form-control"  placeholder="Enter amount not less than NGN 1,500"/>
                            <div class="alert-danger error" *ngIf="f.amount.errors ">
                                <div class="error" *ngIf="f.amount.errors.required &&electricityForm.submitted">Amount is required</div>  
                                <div class="error"  *ngIf="f.amount.errors.validAmount && f.amount.dirty">Invalid amount, please enter Integer value not less than 1500</div>
                            </div>
                       
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="phone">Phone number:</label></b>
                            <input type="text" formControlName="phone" class="form-control"  placeholder="Enter your phone number"/>
                            <div class="alert-danger error" *ngIf="f.phone.errors">
                                <div class="error" *ngIf="f.phone.errors.required &&electricityForm.submitted">Phone is required</div> 
                                <!-- <div *ngIf="f.phone.errors?.pattern">Mobile number is not 11 digit</div>  -->
                                <div class="error"  *ngIf="f.phone.errors.validPhone && f.phone.dirty">Mobile number is not a valid Nigerian Number format</div>
                                
                            </div>
                            
                            
                        
                            
                        </div>
    
                        <br>
                        <select class="form-control"  required>
                            <option value="" disabled selected hidden>Make plan</option>
                            
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                        <br>
    
                        <button style="min-width: 210px;" (click)="linker()" type="submit" value="Add to cart" class="btn btn-success"><mat-icon style="color: white;" class="material-icons">add_shopping_cart</mat-icon>&nbsp;&nbsp; Add to cart</button> &nbsp;&nbsp;
                        <!-- <input style="min-width: 200px;" routerLink="payment" (click)="loadPaymentData('orderid')" class="btn btn-primary text-center" value="Submit"> -->
                        <input style="min-width: 200px;" (click)="directpurchase()" class="btn btn-primary text-center" value="Direct purchase">
    
                        <div class="spinner" *ngIf="isRecipientNotValidform=='loading'">
                            <br>
                            <span style="width: 30px;height: 30px;" *ngIf="isRecipientNotValidform=='loading'" class="spinner-border text-warning">&nbsp;Verifying</span>
    
                        </div>
                        <br>
                    </form>
                    <!-- <app-charts></app-charts> -->
    
                </div>
    
            </div>
        </div>
        <p style="color: white; font-size: 19px;" class="text-center">Buy Your Electricity Unit Tokens Online in Nigeria. Pay for all discos (AEDC, EEDC, EKEDC, IBEDC, IKEDC, JED, KAEDCO, KEDCO & PHED) prepaid and postpaid meters bills. Instant Delivery!</p>
    
        <div  class="example-container mat-elevation-z8">
            <br>
            
            <h1 style="font-size:22px!important;color: white;"><mat-icon (click)="getelectricityhistory()" style="font-size:30px; color: white;" class="material-icons swell">history</mat-icon>&nbsp;&nbsp; Electricity Purchase History</h1>
            <mat-table #table [dataSource]="dataSource" matSort>
    
                
              <ng-container matColumnDef="disco">
    
                <mat-header-cell style="color: white;" mat-header-cell *matHeaderCellDef mat-sort-header> <b>Disco</b>&nbsp;
                    <!-- <div class="example-header"> -->
                        <mat-form-field style="padding-left:10px; color:white!important;">
                          <input style=" padding-left:10px; border-width:1px; border-color:white!important;" matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
                        </mat-form-field>
                    <!-- </div> -->
                </mat-header-cell>
    
                <!-- <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Disco</b> </mat-header-cell> -->
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.disco.split(",")[0]}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="recipient">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Meter number</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.recipient}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="amount">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Amount charged</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element">NGN {{element.amount_charged}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="token">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Electricity Token</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.token.split()}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="date_time">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Date time</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.date_time}} </mat-cell>
              </ng-container>
    
              <ng-container  matColumnDef="status">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Status</b> </mat-header-cell>
                    <ng-container *matCellDef="let element" >
                        <mat-cell style="color: red;font-size: 16px;" *ngIf="element.status=='---';" ><b> ---</b> </mat-cell>
                        <mat-cell style="color: green;font-size: 16px;" *ngIf="element.vend_status;" ><b>Completed</b>  </mat-cell>
                        <mat-cell style="color: red;font-size: 16px;" *ngIf="element.vend_status==false ;"> <a  style="text-decoration: none;" href="javascript:void(0)" (click) = ResolvePending(element.order_id,element)><b>Pending</b></a>&nbsp;&nbsp;
                            
                            <div class="spinner">
                        
                                <span style="width: 20px;height: 20px;" class="spinner-border text-warning"></span>
                        
                            </div>
                        </mat-cell>
                    </ng-container>
              </ng-container>
    
            
            
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
         
          </div>
    
    </div>
    
</div>


