 
 <div style="padding-top:80px;background: whitesmoke;" class="parent_div" > 
  <h1>Shopping Cart</h1>   

  <!-- <h4 style="color: black;"><b>Payment summary</b></h4>    -->
  <div style="background: whitesmoke; padding:40px; width:100%; max-height: 40vh; overflow: auto; opacity:0.8;">    
    <div style="background:white!important;border-radius:10px;" class="card-inner p-0">
      <div class="nk-tb-list nk-tb-ulist is-compact">
          <div class="nk-tb-item nk-tb-head">
             
              <div class="nk-tb-col"><b><span class="sub-text">Service</span></b></div>
              <div class="nk-tb-col"><b><span class="sub-text">Service Provider</span></b></div>
              <div class="nk-tb-col tb-col-sm"><b><span class="sub-text">Recipient</span></b></div>
              <div class="nk-tb-col tb-col-xxl"><b><span class="sub-text">Service Name</span></b></div>
              <div class="nk-tb-col tb-col-xxl"><b><span class="sub-text">Price</span></b></div>
              <div class="nk-tb-col"><span class="sub-text"><b>Action</b></span></div>
              
          </div>
          
          <ng-container  *ngFor='let item of cart; let i=index;'>
              <div style="cursor:pointer;" class="nk-tb-item">
                 
                  <div class="nk-tb-col tb-col-md"><span><b>{{item.service}}</b></span></div>
                  <div class="nk-tb-col tb-col-md"><span>{{item.provider.split(",")[1]}}</span></div>
                  <div class="nk-tb-col tb-col-md"><span>{{item.recipient}}</span></div>
                  <div class="nk-tb-col tb-col-md"><span>{{item.servicename}}</span></div>
                  <div class="nk-tb-col tb-col-md"><span>&#8358;{{item.amount}}</span></div>
                  <div class="nk-tb-col tb-col-md">
                    <button class="nk-tb-col tb-col-md btn btn-danger" style="background: transparent; border: none; max-height: 40px; max-width:40px;" (click) = "deleteFromCart(item.uid)" [value]="item.uid" ><mat-icon style="color: rgb(3, 3, 43);" class="material-icons">remove_shopping_cart</mat-icon></button>
                  </div>
              </div>
          </ng-container>
          <br>
          <button value="init" style="width:20vh !important;" (click)="checkout()" class="btn btn-primary" (click)="callpayWithPaystack()"><mat-icon name="Pay with card" style="color: white;" class="material-icons">credit_card</mat-icon>&nbsp;&nbsp; Pay &#8358;{{carttotal}} with card </button>
      </div>
  </div>
  </div>
  <br>
  
</div>
<app-alert></app-alert>
<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
<script src="https://js.paystack.co/v1/inline.js"></script>
<script src="paystack.js"></script>




                  