table,button,input,h1,h2,h3,label,p,b {
    font-family: "Times New Roman", Times, serif;
    
}

h1,h2,h3,h4,h5,input,label,select,button,#matTable,.mat-table,p,span {
    font-family: "Times New Roman", Times, serif;
    
}

#parent_div {
    background-image: url('slide.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height:100%;
   }

th{

    color:white;
    background-color:#2C3539;
    font-size: 16px;
    
}
tr{
    max-height:40px!important;
}
h1, h2, h3{
    padding-left:40px;
    font-size: 36px;
    color: black;
}

h5,h4{
    padding-left:40px;
    text-align: left;
    color: black;
}

/* .container{
    max-width: 600px ;
    margin: 20px auto;
    height: 800px;
    
} */
tr:hover{
    /* height: 70px;
    width:700px; */
    color:orange;
    opacity: 0.7;
    /* font-size: 20px; */
}
#total{
    font-size: 20px;
}

#total:hover{
    /* height: 70px;
    width:700px; */
    color:rgb(9, 221, 9);
    opacity: 0.7;
    
}
/* .container table{
    width: 100% !important;
    border: 1px solid #ccc !important;
    border-radius: 5px;
    margin: 5px 0;
}

.container table tr td{
    padding: 10px 10px;
    font-size: 18px;
} */

.container button{
    width: 100% !important;
    padding: 10px;
}