<div style="padding-top: 60px;" class="nk-content ">
    <div id='parent_div' class="container-fluid">
        <div class="row">
            <div class="col-sm-5 mx-left">
                <div>
                    <!-- <alert align="left"></alert> -->
                    <br>
                    <br>
                    <form  [formGroup]="form"  class="bin" #cableForm="ngForm"   novalidate >
                        <h2 style="color:white;" class="text-left">Swift bills Cable Tv Subscription</h2>
                        <hr style="background-color:white;">
                        
                        <div class="alert-danger error" *ngIf="cableForm.submitted">
                            <div class="error" *ngIf="isRecipientNotValidform==true">Cable details are not correct</div>  
                        </div>
    
                        <div class="email">
                            <b><label style="color:white;" class="" for="tv_provider">Cable provider:</label></b>
                            <!-- <input type="text" formControlName="tv_provider" class="form-control"  placeholder="Select cable provider"/> -->
                            <select class="form-control" formControlName="tv_provider" #provider_select (change)='onOptionsSelected(provider_select.value)'>
                                <option value="" disabled selected hidden>Select cable provider...</option>
                                
                                <option *ngFor="let cable of Cables;" [value]="[cable.cabletv_name,cable.public_id]">{{cable.cabletv_name}}</option>
                            </select>
                            <div class="alert-danger error" *ngIf="f.tv_provider.errors &&cableForm.submitted">
                                <div class="error" *ngIf="f.tv_provider.errors.required">Provider is required</div>  
                            </div>
    
    
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="bouquet">Bouquet:</label></b>
                            <!-- <input type="text" formControlName="bouquet" class="form-control"  placeholder="Select Bouquet"/> -->
                            <select id="bouquet_select" class="form-control" formControlName="bouquet" #bouquet_select (change)='onBouquetSelected(bouquet_select.value)'>
                                <option value="0" disabled selected>Select Bouquet...</option>
                                
                                <option *ngFor="let bouquet of Bouquets;" [text]="bouquet.tv_bouquet_name" [value]="bouquet.tv_bouquet_variation_id + '$'+ bouquet.tv_bouquet_price + '$' + bouquet.api_provider"  >
                                <!-- <option *ngFor="let network of Networks;" name="network.public_id" [text]="network.isp_name" #networks_select (change)='onOptionsSelected(networks_select.name)'> -->
                               <!-- <option class='option' >{{network.isp_name}}</option> -->
                            </select>
                            <div class="alert-danger error" *ngIf="f.bouquet.errors &&cableForm.submitted">
                                <div class="error" *ngIf="f.bouquet.errors.required">Bouquet is required</div>  
                            </div>
                    
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="iuc_no">Smartcard/IUC number:</label></b>
                            <input type="text" formControlName="iuc_no" class="form-control"  placeholder="Enter your Smartcard/IUC number"/>
                            <div class="alert-danger error" *ngIf="f.iuc_no.errors &&cableForm.submitted">
                                <div class="error" *ngIf="f.iuc_no.errors.required">Smartcard number is required</div>  
                            </div>
                        
                            
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="phone">Phone number:</label></b>
                            <input type="text" formControlName="phone" class="form-control"  placeholder="Enter your phone number"/>
                            <div class="alert-danger error" *ngIf="f.phone.errors">
                                <div class="error" *ngIf="f.phone.errors.required &&cableForm.submitted">Phone is required</div> 
                                <!-- <div *ngIf="f.phone.errors?.pattern">Mobile number is not 11 digit</div>  -->
                                <div class="error"  *ngIf="f.phone.errors.validPhone && f.phone.dirty">Mobile number is not a valid Nigerian Number format</div>
                                
                            </div>
    
        
                        </div>
    
                        <br>
                        <select class="form-control"  required>
                            <option value="" disabled selected hidden>Make plan</option>
                            
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                        <br>
                        <div>
                            <button style="min-width: 210px;" (click)="linker()" type="submit" value="Add to cart" class="btn btn-success"><mat-icon style="color: white;" class="material-icons">add_shopping_cart</mat-icon>&nbsp;&nbsp; Add to cart</button> &nbsp;&nbsp;
                            <!-- <input style="min-width: 200px;" routerLink="payment" (click)="loadPaymentData('orderid')" class="btn btn-primary text-center" value="Submit"> -->
                            <input style="min-width: 200px;" (click)="directsubscription()" class="btn btn-primary text-center" value="Direct purchase">
                            <br>
                            <div class="spinner" *ngIf="isRecipientNotValidform=='loading'">
                                <br>
                                <span style="width: 30px;height: 30px;" *ngIf="isRecipientNotValidform=='loading'" class="spinner-border text-warning">&nbsp;Verifying</span>
    
                            </div>
                        </div>
                        <br>
                       
                    </form>
                    <!-- <app-charts></app-charts> -->
    
                </div>
            
            </div>
        </div>
    
        <br>
        <p style="color: white; font-size: 19px;" class="text-center">Pay for your GOTv, DSTv & Startimes Decoder Cables Subscriptions Online in Nigeria. Get instant activation after payment.!</p>
    
        <div class="example-container mat-elevation-z8">
            <h1 style="font-size:22px!important;color: white;"><mat-icon (click)="getcablehistory()" style="font-size:30px; color: white;" class="material-icons swell">history</mat-icon>&nbsp;&nbsp; Cable Subscription History</h1>
            
            <mat-table #table [dataSource]="dataSource" matSort>
              <ng-container matColumnDef="cable_network">
           
                <mat-header-cell style="color: white;" mat-header-cell *matHeaderCellDef mat-sort-header> <b>Cable network</b>&nbsp;
                    <!-- <div class="example-header"> -->
                        <mat-form-field style="padding-left:10px; color:white!important;">
                          <input style=" padding-left:10px; border-width:1px; border-color:white!important;" matInput (keyup)="applyFilter($event.target)" placeholder="Filter">
                        </mat-form-field>
                    <!-- </div> -->
                </mat-header-cell>
                
                <ng-container *matCellDef="let element" >
                    <mat-cell style="font-size: 16px;" *ngIf="element.hasOwnProperty('cable_network')" > {{element.cable_network}}  </mat-cell>
                    <mat-cell style="font-size: 16px;" *ngIf="!element.hasOwnProperty('cable_network')" > {{element.network}}  </mat-cell>
                </ng-container>
                
                <!-- <ng-container *ngIf="!element.hasOwnProperty('cable_network')">
                    <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.network}} </mat-cell>
                </ng-container> -->
    
              </ng-container>
            
              <ng-container matColumnDef="recipient">
                <mat-header-cell  mat-header-cell *matHeaderCellDef> <b>Recipient</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.recipient}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="cable_plan">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Cable plan</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.cable_plan}} </mat-cell>
              </ng-container>
    
              <ng-container matColumnDef="amount">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Amount paid</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> NGN {{element.amount}} </mat-cell>
              </ng-container>
            
              <ng-container matColumnDef="date_time">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Date time</b> </mat-header-cell>
                <mat-cell style="font-size: 16px;" *matCellDef="let element"> {{element.date_time}} </mat-cell>
              </ng-container>
              
              <ng-container  matColumnDef="status">
                <mat-header-cell mat-header-cell *matHeaderCellDef> <b>Status</b> </mat-header-cell>
                    <ng-container *matCellDef="let element" >
                        <mat-cell style="color: red;font-size: 16px;" *ngIf="element.status=='---';" ><b> ---</b> </mat-cell>
                        <mat-cell style="color: #085174 ; font-size: 16px;" style="color: green;" *ngIf="element.vend_status;" ><b>Completed</b>  </mat-cell>
                        <mat-cell style="color: red;font-size: 16px;" *ngIf="element.vend_status==false ;"> <a  style="text-decoration: none;" href="javascript:void(0)" (click) = ResolvePending(element.order_id,element)><b>Pending</b></a>&nbsp;&nbsp;
                            <div class="spinner">
                        
                                <span style="width: 20px;height: 20px;" class="spinner-border text-warning"></span>
                        
                            </div>
                        </mat-cell>
                    </ng-container>
              </ng-container>
    
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>
         
          </div>
          <br>
    <br>
    
    
    </div>
</div>



