<div id="roots">
    <div id="header" >
        <h1 id="modalheader" style="font-size: 30px; color:white;" class="text-center">Personalize subscriptions</h1>&nbsp;&nbsp;
    </div>
    <h2 id="modalactionheader" style="padding-top:3px; padding-left:30px; font-size: 18px; color:#3d740d;" class="text-left"></h2>
    <div id="parent_div" class="modal-body">
        <div id='parent_div' class="container-fluid">
            <div class="row">
                <div class="col-sm-12 mx-auto">
                    <h1 style="color:white;" class="modal-title">Personalize your periodic subscriptions</h1>
                    <div style="height:100%;" class="pass">
                        <div id="x_genisys" style="overflow-y: auto;">
                            <!-- <div id="genericperiodiccomponent" #genericperiodiccomponent>
                            </div> -->
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
