<div id="roots">
    <div id="header" class="modal-header">
        <h1 id="modalheader" style="font-size: 30px; color:white;" class="text-center">Create New Subscriber</h1>&nbsp;&nbsp;
        <a type="button" class="close" data-dismiss="modal" (click)="activeModal.close('dismiss')">
            <div aria-hidden="true">&times;</div>
        </a>
    </div>
    <h2 id="modalactionheader" style="padding-top:3px; padding-left:30px; font-size: 18px; color:#3d740d;" class="text-left"></h2>
    <div id="parent_div" class="modal-body">
        <form [formGroup]="subscriberForm" (ngSubmit)="createSubscriber()">
            <br>
            <select class="form-select js-select2" formControlName="customer" data-placeholder="Select a Customer" #customer_select #customerSelected_select (change)='customerSelected(customerSelected_select.value)' required>
                <option value="" disabled selected>Select an customer</option>
                <option *ngFor="let customer of customers;" [value]=customer.paystack_customer_id>{{customer.email}}</option>
            </select>
            <br>
            <br>
            <select class="form-select js-select2" formControlName="plan" data-placeholder="Select a Customer" #plan_select #planSelected_select (change)='planSelected(planSelected_select.value)' required>
                <option value="" disabled selected>Select an plan</option>
                <option *ngFor="let plan of plans;" [value]=plan.plan_code>{{plan.name}}</option>
            </select>
            <br>
            <br>
            <select class="form-select js-select2" formControlName="network" data-placeholder="Select a Customer" #network_select #networkSelected_select (change)='networkSelected(networkSelected_select.value)' required>
                <option value="" disabled selected>Select an network</option>
                <option *ngFor="let network of networks;" [value]=network>{{network}}</option>
            </select>
            <br>
            <br>
            
            <button class="btn btn-primary zoom" type="submit">Create Subscriber</button>
        </form>
    </div>
    <div style="background-color: white;" class="modal-footer ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                </div>
                <div class="col-sm-3">
                </div>
                <div class="col-sm-3">
                </div>
            </div>
        </div>
    </div>
</div>

