<nav>
    <div class="container">
            <div id="logos" style="white-space: nowrap;"><img  alt="backgroundiamge" src="/assets/images/qblogo1.png"><span style="color:white; font-size:22px; font-weight:900;"><b>uickie</b></span></div>
            <input type="checkbox" id="showNav">
            <label for="showNav" id="toggleNav"><i class="fas fa-bars"></i></label>
        <ul class="main-nav" *ngIf="loggedIn">
            <li style="white-space: nowrap;">
                <i class="fas fa-home"></i> &nbsp; <a href="#" class="text-warning" [routerLink]="['']" routerLinkActive="active text-success">Home</a>
              </li>
              <li style="white-space: nowrap;">
                <i class="fas fa-cart-plus"></i> &nbsp;<a style="white-space: nowrap;" href="#" class="text-warning" [routerLink]="['new-order']" routerLinkActive="active text-success">Create Order</a>
              </li>
              <li style="white-space: nowrap;">
                <i class="fas fa-history"></i> &nbsp;<a href="#" class="text-warning" [routerLink]="['orders']" routerLinkActive="active text-success">Orders</a>
              </li>
              <li style="white-space: nowrap;" *ngIf="user.is_vendor">
                <i class="fas fa-user"></i> &nbsp;<a style="white-space: nowrap;" href="#" class="text-warning" [routerLink]="['merchant-orders']" routerLinkActive="active text-success">Vendor Orders</a>
              </li>
              <li style="white-space: nowrap;" *ngIf="!user.is_vendor"> 
                <i class="fas fa-subscription"></i> &nbsp;<a style="white-space: nowrap;" href="#" class="text-warning" [routerLink]="['vendor-subscription']" routerLinkActive="active text-success">Vendor Subscriptions</a>
              </li>
              <li style="white-space: nowrap;" class="dropdown"> 
                <i class="fas fa-credit-card"></i> &nbsp;<a style="white-space: nowrap;" class="text-warning" href="javascript:void(0)" routerLinkActive="active text-success" onblur="hideDropdown()" onmouseleave="hideDropdown()" onfocus="clearTimeout();">Utilities & Bills</a>
                <div class="dropdown-menu nav-accordion">
                  <ul class="flex-col">
                    <li>
                        <i class="fas fa-phone"></i> &nbsp;<a [routerLink]="['airtime']" href="javascript:void(0)" class="text-warning col-12" routerLinkActive="active">Airtime Purchase</a><hr>
                    </li>
                    <li>
                        <i class="fas fa-wifi"></i> &nbsp;<a [routerLink]="['data']" href="javascript:void(0)" class="text-warning col-12" routerLinkActive="active">Data Subscription</a><hr>
                    </li>
                    <li>
                        <i class="fas fa-tv"></i> &nbsp;<a style="white-space: nowrap;" [routerLink]="['cable']" href="javascript:void(0)" class="text-warning col-12" routerLinkActive="active">Cable Subscription</a><hr>
                    </li>
                    <li>
                        <i class="fas fa-bolt"></i> &nbsp;<a disabled [routerLink]="['electricity']" href="javascript:void(0)" class="text-warning col-12">Electricity Recharge</a><hr>
                    </li>
                  </ul>
                </div>
              </li>
              
            <!-- <li>
                
                        <a  id="nav_accordion" href="javascript:void(0)" data-bs-toggle="collapse" (click)="toggleAccordion('accordion-item-nav')">
                            Utilities & Bills    
                        </a>
                        <div class="collapse" id="accordion-item-nav" data-bs-parent="#accordion">
                            <div class="nav-accordion">
                                <ul id="basic-info" style="max-height:50vh;overflow-y: auto;" class="flex-col">
                                    <li ><div class="col-12"><a class="col-12" [routerLink]="['airtime']" href="javascript:void(0)" ><span class="text-success">Airtime Purchase</span></a><hr></div></li>
                                    <li ><div class="col-12"><a class="col-12" [routerLink]="['data']" href="javascript:void(0)" ><span class="text-success">Data Subscription</span></a><hr></div></li>
                                    <li ><div class="col-12"><a class="col-12" [routerLink]="['cable']" href="javascript:void(0)" ><span class="text-success">Cable Subscriptions</span></a><hr></div></li>
                                    
                                </ul>
                            </div>
                        </div>
                         <a href="#"  [routerLink]="['']" routerLinkActive="active text-success">Home</a>
                  
            </li> -->
            

            <li style="white-space: nowrap;"><i class="fas fa-user-circle"></i> &nbsp;<a class="text-warning"routerLinkActive="active text-success" href="#" [routerLink]="['userprofile']">Profile</a></li>
            <li style="white-space: nowrap;"><i class="fas fa-sign-out-alt"></i> &nbsp;<a class="text-warning"routerLinkActive="active text-success" href="#" (click)="logOut()" [routerLink]="['login']">Signout</a></li>
        </ul>
    </div>
</nav>
<div class="bg-image" >
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</div>

