<div style="padding-top: 60px;" class="nk-content ">
    <div class="flex-row-20 top">
        <select class="form-select col-3" id="api_provider">
            <option>Select Api Provider</option>
            <option *ngFor="let api_provider of metadata.api_providers;">{{api_provider.api_provider}}</option>
        </select>
        <select class="form-select col-3" id="service_type" (change)="onChange($event)">
            <option>Select Service Type</option>
            <option>Airtime</option>
            <option value="data" >Data</option>
            <option value="cable">Cable</option>
            <option value="electricity" >Electricity</option>
        </select>
        <select class="form-select col-3" id="service_provider" (change)="onChangeTable($event)">
            <option>Select Service Provider</option>
            <option value="{{service_provider.id}}" *ngFor="let service_provider of service_providers;">{{service_provider[key]}}</option>
        </select>
    </div>
    
    <div class="flex-col-30">
        <h4 style="font-weight: 900;">{{data.service | titlecase}} Subscription</h4>
        <div style="max-height:70vh;overflow-y:auto">
            <table class="dataTable nowrap nk-tb-list is-separate"> 
                <thead style="background:white;">
                    <th class="nk-tb-col">Service Name</th>
                    <th class="nk-tb-col">Api Provider</th>
                    <th class="nk-tb-col" *ngIf="data.service=='data'">Plan Name</th>
                    <th class="nk-tb-col" *ngIf="data.service=='data'">Plan Code</th>
                    <th class="nk-tb-col" *ngIf="data.service=='data'">Plan Price</th>
                    <th class="nk-tb-col" *ngIf="data.service=='data'">Plan Duration</th>
    
                    <th class="nk-tb-col" *ngIf="data.service=='cable'">Bouquet Name</th>
                    <th class="nk-tb-col" *ngIf="data.service=='cable'">Bouquet Code</th>
                    <th class="nk-tb-col" *ngIf="data.service=='cable'">Bouquet Price</th>
    
                    <th class="nk-tb-col" *ngIf="data.service=='electricity'">Disco Name</th>
                    <th class="nk-tb-col" *ngIf="data.service=='electricity'">Disco Code</th>
                    <th class="nk-tb-col" *ngIf="data.service=='electricity'">Discount</th>
                    <th class="nk-tb-col" *ngIf="data.service=='electricity'">Api Code</th>
    
                    <th class="nk-tb-col">Action</th>
                </thead>
                <tbody>
                    <tr class="nk-tb-item" *ngFor="let pricelist of pricelists;">
                        <td class="nk-tb-col">{{data.service | titlecase}}</td>
                        <td class="nk-tb-col">{{pricelist.api_provider}}</td>
                        <td class="nk-tb-col" *ngIf="data.service=='data'"><span>{{pricelist.plan_name}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='data'"><span>{{pricelist.plan_code}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='data'"><span>₦ {{pricelist.plan_price}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='data'"><span>{{pricelist.duration}}</span></td>
    
                        <td class="nk-tb-col" *ngIf="data.service=='cable'"><span>{{pricelist.tv_bouquet_name}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='cable'"><span>{{pricelist.tv_bouquet_variation_id}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='cable'"><span>₦ {{pricelist.tv_bouquet_price}}</span></td>
    
                        <td class="nk-tb-col" *ngIf="data.service=='electricity'"><span>{{pricelist.disco_name}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='electricity'"><span>{{pricelist.disco_code}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='electricity'"><span>₦ {{pricelist.discount}}</span></td>
                        <td class="nk-tb-col" *ngIf="data.service=='electricity'"><span>₦ {{pricelist.api_code}}</span></td>
                        <td class="nk-tb-col"><a id="edit_{{pricelist.id}}" href="">Edit</a></td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </div>
    
    
</div>
