
<div class="container glass-initial" style="margin-top:120px; padding-left: 10px;" >
    <div class="title">
        <div id="header" class="flex-end">
            <h2 style="color:white;" class="text-left">Quickie Data Purchase</h2>
        </div>
    </div>
    <div style="max-height: 70vh;overflow-y: auto;">
    <div id='parent_div' class="container-fluid">
        <div class="flex-row-end">
            <div class="col-sm-5 mx-left">
                <div>
                    <br>
                    <form  [formGroup]="form"  class="bin" #dataForm="ngForm" (ngSubmit)="dataForm.form.valid" novalidate >
                        <hr style="background-color:white;">
                        <div class="email">
                            <b><label style="color:white;" class="" for="network">Network provider:</label></b>
                            <select (change)="onOptionsSelected($event)" class="form-control" formControlName="network" #networks_select >
                                <option value="" disabled selected hidden>Select a network...</option>
                                <option *ngFor="let network of Networks;" [text]="network.isp_name" [value]="[network.isp_name,network.public_id]"  >{{network.isp_name}}</option>
                            </select>
                            <div class="alert-danger error" *ngIf="f.network.errors &&dataForm.submitted">
                                <div class="error" *ngIf="f.network.errors.required">Network is required</div>  
                            </div>
                        </div>
    
                        <div class="pass">
                            <b><label style="color:white;" for="plan">Data plan:</label></b>
                            <select class="form-control" formControlName="dataplan" #dataplan_select (change)='onDataSelected(dataplan_select.value)'>
                                <option value="" disabled selected hidden>Select a data plan...</option>
                                
                                <option *ngFor="let data of Data;" [text]="data.plan_name+' '+ data.duration" [value]="data.plan_code"  >
                            </select>
                            <div class="alert-danger error" *ngIf="f.dataplan.errors &&dataForm.submitted">
                                <div class="error" *ngIf="f.dataplan.errors.required">Dataplan is required</div>  
                            </div>
                        </div>

                        <div class="pass">
                            <b><label style="color:white;" for="phone">Phone number:</label></b>
                            <input type="text" formControlName="phone" class="form-control" placeholder="Enter your phone number"/>
                            <div class="alert-danger error" *ngIf="f.phone.errors &&dataForm.submitted">
                                <div class="error" *ngIf="f.phone.errors.required">Phone is required{{f.phone.errors.validPhone}}</div> 
                                <div class="error"  *ngIf="f.phone.errors.validPhone">Mobile number is not a valid Nigerian Number format</div>
                            </div>
                        </div>
                        <br>
                        <select class="form-control"  required>
                            <option value="" disabled selected hidden>Make plan</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                        </select>
                        <br>
                        <button style="min-width: 210px;" (click)="directsubscription()" type="submit" value="Add to cart" class="btn btn-success"><mat-icon style="color: white;" class="material-icons">add_shopping_cart</mat-icon>&nbsp;&nbsp; Submit</button> &nbsp;&nbsp;
                        <br>
                    </form>
                </div>
            </div>
            <img align = "right" class="img-responsive zoom img-radii mx-right" src="/assets/images/allnetworks.png" alt="">
        </div>
        <br>
        <p style="color: white; font-size: 19px;" class="text-center">Data Balance: MTN *461*4#, Glo *127*0#, Airtel *140#, 9mobile *228#. Buy Cheap Data Bundles Online for all Mobile Networks (MTN, Glo, Airtel & 9mobile) in Nigeria. Buy SME & Direct Data. Automated & Instant Delivery!!</p>
        <br>
        <br>
    </div>
    <br>
    <br>
</div>

