<section >
    <div class="container">
    <h1 style="color:white">Buy-Quickee</h1>
    <h3 class="subtext" style="color:white">Purchase without fear!</h3>

    <input id="home-search" type="search" placeholder="search...">

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sequi commodi sed sunt est veritatis saepe doloremque dicta ducimus qui impedit harum fugiat, accusamus cupiditate dolores. Molestias ex aliquam facilis ut.</p>
    
    <a href="/login" >sign in</a>
    <a href="/register" >Sign up</a>
    </div>
</section>