<div style="padding-top: 100px;" class="container">
    <div class="interior">
    </div>
    </div>
  <div id="open-modal" class="modal-window">
    <div class="title wmodal">
      <a href="#" title="Close" class="modal-close">Close</a>
      <h1>Signup!</h1>
      <br>
      <form action="/charge" method="post" id="payment-form">
        <div class="form-row">
            <div id="login-form" #cardInfo>
                <form (ngSubmit)="register()" #registerForm="ngForm">
                  <div>
                    <label for="bankname">Bank Name</label>
                    <select class="form-select" id="bankname" name="bankname" [(ngModel)]="user.bankname" required>
                      <option>Access Bank</option>
                      <option>Fidelity Bank</option>
                      <option>Guranteed Trust Bank</option>
                      <option>United Bank for Africa</option>
                      <option>Zenith Bank</option>
                    </select>
                  </div>
                  <div>
                    <label for="accountno">Account No:</label>
                    <input class="form-control" type="text" id="accountno" name="accountno" [(ngModel)]="user.accountno" required>
                  </div>
                    <div>
                      <label for="email">Email:</label>
                      <input class="form-control" type="email" id="email" name="email" [(ngModel)]="user.email" required>
                    </div>
                    
                    <div>
                      <label for="password">Password:</label>
                      <input class="form-control" type="password" id="password" name="password" [(ngModel)]="user.password" required>
                    </div>
                    <div>
                      <label for="password-again">Password Again:</label>
                      <input class="form-control" type="password" id="password-again" name="password" [(ngModel)]="user.password" required>
                    </div>
                  </form>
            </div>
            <!-- Used to display form errors -->
            <div id="card-errors" role="alert"></div>
        </div>
        <button (click)="register()" class="btn btn-outline-secondary" type="submit" [disabled]="registerForm.invalid">Signup</button>
        <br>
        &nbsp;&nbsp;<span>Already have an account? <a href="/login">Login</a></span>
    </form>
      
    <app-spinner *ngIf="showSpinner"></app-spinner>      
     
    </div>
  </div>

  <a style="display:block;" id="payment-modal" class="btn" href="#open-modal">👋 Basic CSS-Only Modal</a>
