* {
    font-family: "Times New Roman", Times, serif;

}

.vl {
    border-left: 1px solid green;
    height: 310px;
    left:auto;
  }

  .subscriptionstatus{
      font-size: 19px;
      list-style-type: none;
  } 
  
.subscriptionactive{
    color: green;
}

.subscriptionsuspend{
    color: red;
}

li {
    padding: 2px;
}

.plots{
    color:white;
}

h2{
    padding-left: 5px;
}

#parent_div {
    
    background-image: url('slide.jpg');
    background-color: whitesmoke;
    background-size: 100% 100%;
    height: 2500px;
    opacity: 1;
    
   }

   table, tbody{
    background-color: whitesmoke;
   }
   
.cards{
    background-color: white !important;
    height:180px;
    border-radius: 5px;
    opacity: 1;

}

.faceboard{
    background-color: white !important;
    height:165px;
    border-radius: 5px;
    opacity: 1;
}

.cover{
    background-color: #0A1021 !important;
    height:40px;
    padding-left: 2px;
    padding-top: 9px;
    margin-left: 0px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    opacity: 1;
    color:white ;
    font-size: large;
    z-index: 5;
}


.spinner { position: absolute; top: 50%; left: 50%; }

#parent_div{
    padding-top: 20px;


}
hr{
    height:1px;
}
b {
    text-align: left!important;
}

.labels{

    text-align:left!important;
}
.pass {
    display: flex;
    flex-direction: column;
    height:670px;
    opacity: 0.8;
    border-radius: 10px;
    padding: 12px;
    color: white !important;

}

.zoom {
    transition: transform .7s;
  }
  
.zoom:hover {
    transform: scale(1.1); 
    border: 1px;
    border-color: steelblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9), 0 3px 14px 0 rgba(0, 0, 0, 0.3);
}

#newTag {
    font-size: 1rem;
    color: #455A64;
    display: block;
    width: 100%;
    height: 3rem;
    padding: 0 1rem;
    border: 0.125rem solid #CFD8DC;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
    transition: 0.5s all;
  }
  #newTag:focus, #newTag:active { 
    outline: none; 
    border: 0.125rem solid #465fff;
    box-shadow: 0 0 0.5rem rgba(67,160,71,0.15);
  }
  ul.tagList {
    display: block;
    padding: 0;
    margin: 0;
  }
  ul.tagList::after {
      content: "";
      clear: both;
      display: table;
  }
  ul.tagList li {
    position: relative;
    list-style: none;
    float: left;
    font-size: 0.835rem;
    text-transform: capitalize;
    background-color: #E8F5E9;
    line-height: 1rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
    border-radius: 1rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;  
      word-break: break-all;
  }
  ul.tagList li > span.rmTag {
    position: absolute;
    margin: 0.25rem;
    top: 0; right: 0;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    color: #fff;
    font-size: 1.25rem;
    line-height: 1.5rem;
    text-align: center;
    background-color: #465fff;
    cursor: pointer;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
  }
  ul.tagList li > span.rmTag:hover {  
    background-color: #ef9a9a;
  }


::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }  